.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness;
  box-shadow: $base-box-shadow;

  &-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  &-body {
    font-size: $base-font-size;
    a {
      text-decoration: underline;
    }
  }
}
